@page "/superadmin/parameter"

@inherits LoggedLayout
@layout LoggedLayout

@inject NavigationManager NavigationManager
@inject HttpClient _httpclient
@inject IAppControllerAsync<UserAuthenticated> _appctrl
@inject IAppSettings _settings
@inject IDataCacheProxyManager _cache
@inject ISystemProxyManager _systemservices
@inject IDialogService msgbox



@if (view != null)
{

    <FluentGrid Spacing="3" AdaptiveRendering="true" Style="padding: 4px; ">

        <FluentGridItem lg="9" xs="12">
            <FluentLabel> <h2> @_PageTitle</h2> </FluentLabel>

        </FluentGridItem>

        <FluentGridItem lg="3" xs="12" Style="margin-top: 6px;">

            <FormActionButton ButtonType=ButtonTypeEnum.ADD
                              Title="@view.texts.Get("NewParameter-Label")"
                              Disabled="!view.Permissions.AllowSave"
                              Visible="!view.GetTabEditState()"
                              OnAction="OnNew">
            </FormActionButton>

            <FormActionButton ButtonType=ButtonTypeEnum.SAVE
                              Title="@view.texts.Get("SaveParameterButton-Label")"
                              Disabled="!view.Permissions.AllowSave"
                              Visible="view.GetTabEditState()"
                              OnAction="OnSet">
            </FormActionButton>


        </FluentGridItem>

    </FluentGrid>


    @if (!view.GetTabEditState())
    {
        <FluentGrid Spacing="1" AdaptiveRendering="true" Style="padding: 4px; ">

            <FluentGridItem lg="12" xs="12">

                <FluentAccordion>

                    <FluentAccordionItem Expanded="true" Heading="@view.texts.Get("SearchButtonLabel")">
                        <FluentIcon Value="@(new Icons.Regular.Size24.Search())"
                                    Color="@Color.Accent" Slot="start" />

                            <FluentGrid Spacing="1" AdaptiveRendering="true" Style="padding: 4px; ">
                                   
                                <FluentGridItem lg="6" xs="12">
                                    @if (view.listgroupparameter != null)
                                    {
                                        @if (view.listgroupparameter.Count > 0)
                                        {

                                            <FluentSelect TOption="SelectItemBase"
                                                      Label=@view.texts.Get("SearchByGroupParameterName-Label")
                                                          Items="@view.listgroupparameter"
                                                          Id="pGroupPermissionID"
                                                          Height="250px"
                                                          Width="90%"
                                                          OptionValue="@(p => p.Value)"
                                                          OptionText="@(p => p.Text)"
                                                          @bind-Value="view._selectvalues.pGroupParameterID" />
                                        }
                                    }

                                </FluentGridItem>


                                <FluentGridItem lg="6" xs="12">

                                    <FluentTextField @bind-Value=view.param.pParameterName Maxlength="50"
                                                     Label="@view.texts.Get("SearchByParameterName-Label")" style="width:90%">
                                    </FluentTextField>

                                </FluentGridItem>


                                <FluentGridItem lg="6" xs="12">

                                    <FormActionButton ButtonType=ButtonTypeEnum.SEARCH
                                                      Title="@view.texts.Get("SearchButtonLabel")"
                                                      Visible="true"
                                                      Disabled="!view.Permissions.AllowRead"
                                                      OnAction="OnSearch">
                                    </FormActionButton>

                                </FluentGridItem>

                             </FluentGrid>
                    

                    </FluentAccordionItem>
                </FluentAccordion>
            </FluentGridItem>


            <FluentGridItem lg="12" xs="12">

                <FluentCard Width="100%" Height="100%" Class="card-layout">

                    <FluentLabel> <h5>@view.texts.Get("SearchResultLabel")</h5> </FluentLabel>

                    <div id="datagrid-container">
                        <FluentDataGrid Items="@view.gridlist"
                                        TGridItem="ParameterResult"
                                        Pagination="@pagination"
                                        RowSize="@rowSize"
                                        ResizableColumns=true
                                        Style="overflow-y:hidden;">

                            <PropertyColumn Property="@(c => c.GroupParameterName)" Title="@view.texts.Get("GroupParameterName-Label")" Sortable="true" Width="30%" />
                            <PropertyColumn Property="@(c => c.ParameterName)" Title="@view.texts.Get("ParameterName-Label")" Sortable="true" Width="40%" />

                            <TemplateColumn Title="@view.texts.Get("Active-Label")" Width="15%">

                                @if (context.IsActive)
                                {
                                    <span>@view.texts.Get("Yes-Text")</span>
                                }
                                else
                                {
                                    <span>@view.texts.Get("No-Text")</span>
                                }
                            </TemplateColumn>

                            <TemplateColumn Title="@view.texts.Get("UpdateOperation-Text")"  Width="15%">

                                <FluentButton Appearance="Appearance.Lightweight"
                                              IconEnd="@(new Icons.Regular.Size24.ClipboardTextEdit())"
                                              @onclick="@(() => OnDetClick(context.ParameterID ))">
                                </FluentButton>

                            </TemplateColumn>

                        </FluentDataGrid>
                    </div>

                    <FluentPaginator State="@pagination" />

                </FluentCard>
            </FluentGridItem>

        </FluentGrid>
    }

    @if (view.GetTabEditState())
    {
        <FluentGrid Spacing="3" AdaptiveRendering="true" Style="padding: 4px; ">

            <FluentGridItem lg="1" xs="12" Style="margin-top: 0px;">

                <TaskIconButton OnClick="Back"
                                IconStart="@(new Icons.Regular.Size24.ArrowCircleLeft())">

                </TaskIconButton>

            </FluentGridItem>

            <FluentGridItem lg="9" xs="12">
                <FluentLabel> <h4>@view.ModoLabel</h4> </FluentLabel>

            </FluentGridItem>

        </FluentGrid>

        <FluentCard Width="100%" Height="100%" Class="card-layout">

    
              @if (view.listgroupparameter != null)
                {
                    @if (view.listgroupparameter.Count > 0)
                    {

                        <FluentSelect TOption="SelectItemBase"
                                  Label=@view.texts.Get("SearchByGroupParameterName-Label")
                        Items="@view.listgroupparameter"
                        Id="GroupPermissionID"                                                          
                        Height="250px"
                        Width="95%"
                        OptionValue="@(p => p.Value)"
                        OptionText="@(p => p.Text)"
                        @bind-Value="view._selectvalues.GroupParameterID" />
                    <FluentLabel Class="summary-label"> @view.GetSummaryMessage("GroupParameterID") </FluentLabel>
                    }
                }

            <FluentTextField @bind-Value=view.result.ParameterName Maxlength="100"
                             Label="@view.texts.Get("ParameterName-Label")" style="width:95%">
            </FluentTextField>
            <FluentLabel Class="summary-label"> @view.GetSummaryMessage("ParameterName") </FluentLabel>

            <FluentSwitch @bind-Value="@view.result.IsActive">
                @view.texts.Get("Active-Label")
            </FluentSwitch>


        </FluentCard>

    }
}
else
{

    <FluentStack Style="margin-bottom: 24px;"
                 VerticalAlignment="VerticalAlignment.Center"
                 HorizontalAlignment="HorizontalAlignment.Center">
        <PageLoading LoadingText="Loading page. Wait..."></PageLoading>

    </FluentStack>

}

<TaskLoading @ref="loading" Content=loadingConfigs></TaskLoading>

@code {

    private ParameterViewModel view;

    //


    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (firstRender)
        {
            if (await this.InitResources())
            {
                await this.InitCacheAndLocalization();

                this.InitServices();

                view = new ParameterViewModel((_systemservices as SystemProxy),
                   (_cache as DataCacheProxy), user, _httpclient, _settings.ServiceURL, _appctrl.UserInfo.Token);

                view.texts = this.localization;

                view.Permissions
                    = BaseViewModel.SetPermissions(permissions, "SYSPARAMETER", false);

                await view.InitializeModels();

                _LoadingData_Text = view.texts.Get("LoadingData");

                _AreaURL = "superadmin";
                this.SetPageTile(view.texts.Get("Parameter-PageTitle"));
                loadingConfigs = new TaskLoadingConfigs
                    {
                        Title = view.texts.Get("LoadingPage"),
                        Description = view.texts.Get("ParameterRecord-Label")
                    };
            }

            StateHasChanged();

        }
    }



    public async Task OnSearch()
    {
        await view.Search();

        if (!view.ServiceStatus.Success)
        {
            await msgbox.ShowWarningAsync(view.ServiceStatus.Exceptions.Messages[0].Description,
                view.texts.Get("ErrorOnExecuteSearch"));

        }

    }

    public void OnNew()
    {

        view.InitNew();
        StateHasChanged();
    }

    public async Task OnGet(object id)
    {
        await loading.Begin();

        await view.Get(id);

        await loading.End();

        if (!view.ServiceStatus.Success)
        {
            await msgbox.ShowWarningAsync(view.ServiceStatus.Exceptions.Messages[0].Description,
                view.texts.Get("ErrorOnReturnData"));

        }
        else
        {
            view.InitEdit();

        }

        StateHasChanged();
    }


    public async Task OnSet()
    {

        await view.Set();

        if (!view.ServiceStatus.Success)
        {
            await msgbox.ShowWarningAsync(view.ServiceStatus.Exceptions.Messages[0].Description,
                view.texts.Get("NoticeLabel"));

        }
        else
        {
            await msgbox.ShowSuccessAsync(view.texts.Get("SuccessSaveMessage"),
                view.texts.Get("SuccessLabel"));

            this.Back();

        }


    }

    public async Task OnDetClick(object id)
    {
        await OnGet(id);

    }

    public void Back()
    {
        view.BackToSearch();
        StateHasChanged();

    }

    public void GoHome()
    {
        string url = _appctrl.UserInfo.HomeURL;
        NavigationManager.NavigateTo(url);

    }



}