@page "/superadmin/permission"

@inherits LoggedLayout
@layout LoggedLayout

@inject NavigationManager NavigationManager
@inject HttpClient _httpclient
@inject IAppControllerAsync<UserAuthenticated> _appctrl
@inject IAppSettings _settings
@inject IDataCacheProxyManager _cache
@inject ISystemProxyManager _systemservices
@inject IDialogService msgbox


@if (view != null)
{

    <FluentGrid Spacing="3" AdaptiveRendering="true" Style="padding: 4px; ">

        <FluentGridItem lg="8" xs="12">
            <FluentLabel> <h2> @_PageTitle</h2> </FluentLabel>

        </FluentGridItem>

        <FluentGridItem lg="3" xs="12" Style="margin-top: 6px;">

            <FormActionButton ButtonType=ButtonTypeEnum.ADD
                              Title="@view.texts.Get("NewPermission-Label")"
                              Disabled="!view.Permissions.AllowSave"
                              Visible="!view.GetTabEditState()"
                              OnAction="OnNew">
            </FormActionButton>

            <FormActionButton ButtonType=ButtonTypeEnum.SAVE
                              Title="@view.texts.Get("SavePermissionButton-Label")"
                              Disabled="!view.Permissions.AllowSave"
                              Visible="view.GetTabEditState()"
                              OnAction="OnSet">
            </FormActionButton>
         
        </FluentGridItem>

         <FluentGridItem lg="1" xs="12" Style="margin-top: 6px;">

            <TaskIconButton OnClick="OnRemove" 
                        Visible="view.Editing" 
                        Disabled="!view.Permissions.AllowSave"
                        IconStart="@(new Icons.Regular.Size24.Delete())">
            </TaskIconButton> 

         </FluentGridItem>

    </FluentGrid>


    @if (!view.GetTabEditState())
    {
        <FluentGrid Spacing="1" AdaptiveRendering="true" Style="padding: 4px; ">

            <FluentGridItem lg="12" xs="12">

                <FluentAccordion>

                    <FluentAccordionItem Expanded="true" Heading="@view.texts.Get("SearchButtonLabel")">
                        <FluentIcon Value="@(new Icons.Regular.Size24.Search())"
                                    Color="@Color.Accent" Slot="start" />
                

                            <FluentGrid Spacing="1" AdaptiveRendering="true" >

                                <FluentGridItem lg="6" xs="12">

                                    @if (view.listObject != null)
                                    {
                                        @if (view.listObject.Count > 0)
                                        {
                                             <FluentSelect TOption="SelectItemBase"
                                                      Label=@view.texts.Get("SearchByObjectPermission-Label")
                                                      Items="@view.listObject"
                                                      Id="pObjectPermissionID"                                                          
                                                      Height="250px"
                                                      Width="90%"
                                                      OptionValue="@(p => p.Value)"
                                                      OptionText="@(p => p.Text)"                                    
                                                      @bind-Value="view._selectvalues.pObjectPermissionID" />                                            
                                                                                     
                                        }
                                    }

                                 </FluentGridItem>

                                <FluentGridItem lg="6" xs="12">
                                                                                
                                        @if (view.listRoles != null )
                                        {
                                                @if (view.listRoles.Count > 0)
                                                {

                                                      <FluentSelect TOption="SelectItemBase"
                                                      Label=@view.texts.Get("SearchByRole-Label")
                                                      Items="@view.listRoles"
                                                      Id="pRoleID"
                                                      Height="250px"
                                                      Width="90%"
                                                      OptionValue="@(p => p.Value)"
                                                      OptionText="@(p => p.Text)"
                                                      @bind-Value="view._selectvalues.pRoleID" />
                                       
                                                }

                                            }

                                  </FluentGridItem>

                                <FluentGridItem lg="6" xs="12">

                                    @if (view.listUsers != null)
                                    {
                                        @if (view.listUsers.Count > 0)
                                        {
                                              <FluentSelect TOption="SelectItemBase"
                                                      Label=@view.texts.Get("SearchByUser-Label")
                                                      Items="@view.listUsers"
                                                      Id="pUserID"
                                                      Height="250px"
                                                      Width="90%"
                                                      OptionValue="@(p => p.Value)"
                                                      OptionText="@(p => p.Text)"
                                                      @bind-Value="view._selectvalues.pUserID" />
                                                                                 
                                        }
                                    }

                                </FluentGridItem>

                                <FluentGridItem lg="6" xs="12" Style="padding-top: 25px;">

                                    <FormActionButton ButtonType=ButtonTypeEnum.SEARCH
                                                      Title="@view.texts.Get("SearchButtonLabel")"
                                                      Visible="true"
                                                      Disabled="!view.Permissions.AllowRead"
                                                      OnAction="OnSearch">
                                    </FormActionButton>

                                </FluentGridItem>
                               

                            </FluentGrid>                                                      
                        

                    </FluentAccordionItem>
                </FluentAccordion>
            </FluentGridItem>


            <FluentGridItem lg="12" xs="12">

                <FluentCard Width="100%" Height="100%" Class="card-layout">

                    <FluentLabel> <h5>@view.texts.Get("SearchResultLabel")</h5> </FluentLabel>

                    <div id="datagrid-container">
                        <FluentDataGrid Items="@view.gridlist"
                                        TGridItem="PermissionResult"
                                        Pagination="@pagination"
                                        RowSize="@rowSize"
                                        ResizableColumns=true                                        
                                        Style="overflow-y:hidden;">

                            <PropertyColumn Property="@(c => c.ObjectName)" Title="@view.texts.Get("ObjectName-Label")" Sortable="true" Width="20%" />
                            <PropertyColumn Property="@(c => c.RoleName)" Title="@view.texts.Get("RoleName-Label")" Sortable="true" Width="20%" />
                            <PropertyColumn Property="@(c => c.UserName)" Title="@view.texts.Get("UserName-Label")" Sortable="true" Width="20%" />

                            <TemplateColumn Title="@view.texts.Get("AllowRead-Label")" Width="10%">
                                
                                @if (context.ReadStatus == 1)
                                {
                                    <span>@view.texts.Get("Yes-Text")</span>
                                }
                                else
                                {
                                    <span>@view.texts.Get("No-Text")</span>
                                }
                             
                            </TemplateColumn>

                            <TemplateColumn Title="@view.texts.Get("AllowSave-Label")" Width="10%">

                                @if (context.SaveStatus == 1)
                                {
                                    <span>@view.texts.Get("Yes-Text")</span>
                                }
                                else
                                {
                                    <span>@view.texts.Get("No-Text")</span>
                                }

                            </TemplateColumn>

                            <TemplateColumn Title="@view.texts.Get("AllowDelete-Label")" Width="10%">

                                @if (context.DeleteStatus == 1)
                                {
                                    <span>@view.texts.Get("Yes-Text")</span>
                                }
                                else
                                {
                                    <span>@view.texts.Get("No-Text")</span>
                                }

                            </TemplateColumn>
                           
                                         
                            <TemplateColumn Title="..." Width="5%">

                                <FluentButton Appearance="Appearance.Lightweight"
                                                IconEnd="@(new Icons.Regular.Size24.ClipboardTextEdit())"
                                              @onclick="@(() => OnDetClick(context.PermissionID ))">
                                </FluentButton>

                            </TemplateColumn>

                        </FluentDataGrid>
                    </div>

                    <FluentPaginator State="@pagination"  />

                </FluentCard>
            </FluentGridItem>

        </FluentGrid>
    }

    @if (view.GetTabEditState())
    {
        <FluentGrid Spacing="3" AdaptiveRendering="true" Style="padding: 4px; ">

            <FluentGridItem lg="1" xs="12" Style="margin-top: 0px;">

                <TaskIconButton OnClick="Back"
                                IconStart="@(new Icons.Regular.Size24.ArrowCircleLeft())">

                </TaskIconButton>

            </FluentGridItem>

            <FluentGridItem lg="9" xs="12">
                <FluentLabel> <h4>@view.ModoLabel</h4> </FluentLabel>

            </FluentGridItem>

        </FluentGrid>

        <FluentCard Width="100%" Height="100%" Class="card-layout">
                
            <FluentGrid Spacing="3" AdaptiveRendering="true" Style="padding: 4px; ">

                <FluentGridItem lg="6" xs="12">

                    @if (view.listObject != null )
                    {
                        @if (view.listObject.Count > 0)
                        {                             
                            <FluentSelect TOption="SelectItemBase"
                                    Label=@view.texts.Get("ObjectName-Label")
                                    Items="@view.listObject"
                                    Id="objectpermission2-listbox"                                                          
                                    Height="250px"
                                    Width="90%"
                                    OptionValue="@(p => p.Value)"
                                    OptionText="@(p => p.Text)"                                    
                                    @bind-Value="view._selectvalues.ObjectPermissionID" />

                            <FluentLabel Class="summary-label"> @view.GetSummaryMessage("ObjectPermissionID") </FluentLabel>
                        }
                    }
                

                </FluentGridItem>


                <FluentGridItem lg="6" xs="12">

                    @if (view.listTypeGrant != null)
                    {
                        @if (view.listTypeGrant.Count > 0)
                        {
                            <FluentSelect TOption="SelectItemBase"
                                          Label=@view.texts.Get("PermissionType-Label")
                                          Items="@view.listTypeGrant"
                                          Id="typegrant-listbox"
                                          Height="250px"
                                          Width="90%"
                                          OptionValue="@(p => p.Value)"
                                          OptionText="@(p => p.Text)"
                                          @bind-Value="@view.result.TypeGrant" />

                        }

                    }

                </FluentGridItem>


                 <FluentGridItem lg="6" xs="12">
                    @if (view.listRoles != null)
                    {
                        @if (view.listRoles.Count > 0)
                        {

                            <FluentSelect TOption="SelectItemBase"
                                          Disabled="@view.GetDisabledStatus("R",view.result.TypeGrant)"
                                          Label=@view.texts.Get("Role-Label")
                                          Items="@view.listRoles"
                                          Id="role2-listbox"
                                          Width="90%"
                                          Height="250px"
                                          OptionValue="@(p => p.Value)"
                                          OptionText="@(p => p.Text)"
                                          @bind-Value="view._selectvalues.RoleID" />

                            <FluentLabel Class="summary-label"> @view.GetSummaryMessage("RoleID") </FluentLabel>

                        }

                    }

                </FluentGridItem>

                <FluentGridItem lg="6" xs="12">
                    @if (view.listUsers != null)
                    {
                        @if (view.listUsers.Count > 0)
                        {
                            <FluentSelect TOption="SelectItemBase"
                                          Label=@view.texts.Get("UserName-Label")
                                          Disabled=@view.GetDisabledStatus("U",view.result.TypeGrant)
                                          Items="@view.listUsers"
                                          Id="user-listbox"
                                          Width="90%"
                                          Height="250px"
                                          OptionValue="@(p => p.Value)"
                                          OptionText="@(p => p.Text)"
                                          @bind-Value="view._selectvalues.UserID" />

                            <FluentLabel Class="summary-label"> @view.GetSummaryMessage("UserID") </FluentLabel>
                        }
                    }

                </FluentGridItem>


                <FluentGridItem lg="4" xs="12">
                    @if (view.listPermissionValue != null)
                    {
                        @if (view.listPermissionValue.Count > 0)
                        {
                            <FluentSelect TOption="SelectItemBase"
                                          Label=@view.texts.Get("ReadStatus-Label")
                                          Items="@view.listPermissionValue"
                                          Id="readstatus-listbox"
                                          Height="250px"
                                          Width="90%"
                                          OptionValue="@(p => p.Value)"
                                          OptionText="@(p => p.Text)"
                                          @bind-Value="view._selectvalues.ReadStatus" />

                        }

                    }

                </FluentGridItem>

                
                <FluentGridItem lg="4" xs="12">
                    @if (view.listPermissionValue != null)
                    {
                        @if (view.listPermissionValue.Count > 0)
                        {
                            <FluentSelect TOption="SelectItemBase"
                                          Label=@view.texts.Get("SaveStatus-Label")
                                          Items="@view.listPermissionValue"
                                          Id="savestatus-listbox"
                                          Height="250px"
                                          Width="90%"
                                          OptionValue="@(p => p.Value)"
                                          OptionText="@(p => p.Text)"
                                          @bind-Value="view._selectvalues.SaveStatus" /> 

                        }

                    }

                </FluentGridItem>

                <FluentGridItem lg="4" xs="12">
                    @if (view.listPermissionValue != null)
                    {
                        @if (view.listPermissionValue.Count > 0)
                        {
                            <FluentSelect TOption="SelectItemBase"
                                          Label=@view.texts.Get("DeleteStatus-Label")
                                          Items="@view.listPermissionValue"
                                          Id="deletestatus-listbox"
                                          Height="250px"
                                          Width="90%"
                                          OptionValue="@(p => p.Value)"
                                          OptionText="@(p => p.Text)"
                                          @bind-Value="view._selectvalues.DeleteStatus" />

                        }

                    }


                </FluentGridItem>

            </FluentGrid>
           

        </FluentCard>

    }
}
else
{

    <FluentStack Style="margin-bottom: 24px;"
                 VerticalAlignment="VerticalAlignment.Center"
                 HorizontalAlignment="HorizontalAlignment.Center">
        <PageLoading LoadingText="Loading page. Wait..."></PageLoading>

    </FluentStack>

}


<TaskLoading @ref="loading" Content=loadingConfigs></TaskLoading>

@code {

    private PermissionViewModel view;

    
    //


    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (firstRender)
        {
            if (await this.InitResources())
            {
                await this.InitCacheAndLocalization();

                this.InitServices();

                view = new PermissionViewModel((_systemservices as SystemProxy),
                   (_cache as DataCacheProxy), user, _httpclient, _settings.ServiceURL, _appctrl.UserInfo.Token);

                view.texts = this.localization;

                view.Permissions
                    = BaseViewModel.SetPermissions(permissions, "SYSPERMISSION", false);

                await view.InitializeModels();

                _LoadingData_Text = view.texts.Get("LoadingData");
                _AreaURL = "superadmin";
                _msgYes = view.texts.Get("Yes-Text");
                _msgNo = view.texts.Get("No-Text");
                this.SetPageTile(view.texts.Get("Permission-PageTitle"));
                loadingConfigs= new TaskLoadingConfigs
                    { Title = view.texts.Get("LoadingPage"), 
                      Description = view.texts.Get("PermissionRecord-Label") };
            }

            StateHasChanged();

        }
    }



    public async Task OnSearch()
    {

        await view.Search();

        if (!view.ServiceStatus.Success)
        {
            await msgbox.ShowWarningAsync(view.ServiceStatus.Exceptions.Messages[0].Description,
                view.texts.Get("ErrorOnExecuteSearch"));

        }

    }

    public void OnNew()
    {

        view.InitNew();
        StateHasChanged();
    }

    public async Task OnGet(object id)
    {
        await loading.Begin();

        await view.Get(id);

        await loading.End();

        if (!view.ServiceStatus.Success)
        {
            await msgbox.ShowWarningAsync(view.ServiceStatus.Exceptions.Messages[0].Description,
                view.texts.Get("ErrorOnReturnData"));

        }
        else
        {
            view.InitEdit();

        }

        StateHasChanged();
    }


    public async Task OnSet()
    {

        await view.Set();

        if (!view.ServiceStatus.Success)
        {
            await msgbox.ShowWarningAsync(view.ServiceStatus.Exceptions.Messages[0].Description,
                view.texts.Get("NoticeLabel"));

        }
        else
        {
            await msgbox.ShowSuccessAsync(view.texts.Get("SuccessSaveMessage"),
                view.texts.Get("SuccessLabel"));

            this.Back();

        }

    }

    public async Task OnRemove()
    {
       
        var dialog = await msgbox.ShowConfirmationAsync(view.texts.Get("RemoveConfirmation-Label"));
        var result = await dialog.Result;
        bool canceled = result.Cancelled;

        if (!canceled)
        {

            await view.Remove();

            if (!view.ServiceStatus.Success)
            {
                await msgbox.ShowWarningAsync(view.ServiceStatus.Exceptions.Messages[0].Description,
                    view.texts.Get("NoticeLabel"));

            }
            else
            {
                await msgbox.ShowSuccessAsync(view.texts.Get("RemoveConfirmation-Message"),
                    view.texts.Get("SuccessLabel"));

                
                await view.Search();
                this.Back();
            }
        }

    }


    public async Task OnDetClick(object id)
    {
        await OnGet(id);

    }

    public void Back()
    {
        view.BackToSearch();
        StateHasChanged();

    }

    public void GoHome()
    {
        string url = _appctrl.UserInfo.HomeURL;
        NavigationManager.NavigateTo(url);
        
    }



}