@using FullDevToolKit.Helpers;
@inject IDialogService msgbox
@implements IDialogContentComponent<BaseEntryFieldMask>

<FluentTextField Value="@DisplayValue"
                 ReadOnly=true
                 Label="@Label"
                 Style="@Style"
                 @onfocusin="@OpenDialog">
</FluentTextField>

<FluentDialog Hidden="@_hidden" @onkeydown="@KeyDown">
    <FluentDialogHeader ShowDismiss="false">
        <FluentStack VerticalAlignment="VerticalAlignment.Center"
                     HorizontalAlignment="HorizontalAlignment.Center ">

            <FluentLabel Typo="Typography.PaneHeader">
                @Content.Title
            </FluentLabel>

        </FluentStack>
    </FluentDialogHeader>

    <FluentDialogBody>

    
        <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center"
                     HorizontalAlignment="HorizontalAlignment.Center">

            <FluentTextField @ref="fdig1" @bind-Value=dig1 Maxlength="2" @onkeydown="GoToDig2" Autofocus=true />
            <span>.</span>

            <FluentTextField @ref="fdig2" @bind-Value=dig2 Maxlength="3" @onkeydown="GoToDig3" />
            <span>.</span>

            <FluentTextField @ref="fdig3" @bind-Value=dig3 Maxlength="3" @onkeydown="GoToDig4" />
            <span>/</span>

            <FluentTextField @ref="fdig4" @bind-Value=dig4 Maxlength="4" @onkeydown="GoToDigVer" />
            
            <span>-</span>
            <FluentTextField @ref="fdigver" @bind-Value=digVer Maxlength="2" />


        </FluentStack>


        <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center"
                     HorizontalAlignment="HorizontalAlignment.Center" Style="margin-top:30px">

            <TaskIconButton IconStart="@(new Icons.Regular.Size28.Checkmark())"
                            OnClick="Confirm">
            </TaskIconButton>

            <TaskIconButton IconStart="@(new Icons.Regular.Size28.ArrowExit())"
                            Color="warning" OnClick="CloseDialog">
            </TaskIconButton>

        </FluentStack>


    </FluentDialogBody>

</FluentDialog>


@code {

    private bool _hidden = true;
    private string displayValue = "";

    private string dig1 = "";
    private string dig2 = "";
    private string dig3 = "";
    private string dig4 = "";
    private string digVer = "";


    private FluentTextField fdig1;
    private FluentTextField fdig2;
    private FluentTextField fdig3;
    private FluentTextField fdig4;
    private FluentTextField fdigver;

    //  24.875.188/0001-80

    public string? DisplayValue
    {
        get
        {
            return ToMask(Value, "##.###.###/####-##");
        }

    }

    [Parameter] public string? Value { get; set; }

    [Parameter] public EventCallback<string?> ValueChanged { get; set; }

    [Parameter] public string? Label { get; set; } = "CNPJ";

    [Parameter] public string Style { get; set; } = "";

    public string ToMask(string text, string maskpattern)
    {
        string ret = "";

        int i = 0;
        if (text != null)
        {
            if (text != "")
            {
                ret = string.Concat(maskpattern.Select(c => c == '#' ? text[i++] : c));
            }
        }

        return ret;
    }


    // dialog

    [Parameter]
    public BaseEntryFieldMask Content { get; set; } = new BaseEntryFieldMask();


    [CascadingParameter]
    public FluentDialog Dialog { get; set; } = default!;

    //  24.875.188/0001-80

    private void OpenDialog()
    {
        Content.Title = Label;

        string aux = Value.Replace(".", "").Replace("-", "").Replace("/", "");

        if (aux.Length >= 2)
        {
            dig1 = aux.Substring(0, 2);
        }

        if (aux.Length >= 5)
        {
            dig2 = aux.Substring(2, 3);
        }

        if (aux.Length >= 8)
        {
            dig3 = aux.Substring(5, 3);
        }

        if (aux.Length >= 12)
        {
            digVer = aux.Substring(8, 4);
        }

        if (aux.Length >= 14)
        {
            digVer = aux.Substring(12, 2);
        }

        fdig1.FocusAsync();

        _hidden = false;
    }

    private async Task Confirm()
    {
        Validations validation = new Validations();
        string aux = $"{dig1}{dig2}{dig3}{dig4}{digVer}";

        if (validation.ValidateCNPJ(aux))
        {
            Value = aux;
            await ValueChanged.InvokeAsync(Value);
            _hidden = true;
        }
        else
        {
            await msgbox.ShowWarningAsync("O CNPJ digitado é inválido.", "Aviso");
        }

    }

    private async Task CloseDialog()
    {
        _hidden = true;
    }

    private async Task GoToDig2(KeyboardEventArgs e)
    {

        if (e.Key == "Enter")
        {
            fdig2.FocusAsync();
        }
    }

    private async Task GoToDig3(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            fdig3.FocusAsync();
        }
    }

    private async Task GoToDig4(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            fdig4.FocusAsync();
        }
    }


    private async Task GoToDigVer(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            fdigver.FocusAsync();
        }
    }


    private async Task KeyDown(KeyboardEventArgs e)
    {

        if (e.Key == "Escape")
        {
            await CloseDialog();
        }
    }


}
